COGNITO_EMAIL=noreply@seudominio
COGNITO_EMAIL_TO_REPLY=suporte@seudominio
SES_SOURCE_ARN=

# APIGATEWAY_DEFAULT_ENDPOINT_DISABLE=true
API_DOMAIN_NAME=
API_CERTIFICATE_ARN=arn:aws:acm:xxx:xxx:certificate/xxx


#Meals CDN
MEALS_CDN_DOMAIN_NAME=
MEALS_CDN_CERTIFICATE_ARN=

# Alarms
DLQ_ALARM_EMAIL=

# OpenIA
OPENAI_API_KEY=

# Google Provider
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
